<div class="footer">
    <div class="container" >
        <div class="row">
             <!-- <ul class="clearfix"> -->
              <div class="col-md-4">
                 <li style="list-style-type: none;">
                     <img src="__HOME__/images/ico14.jpg" style="float: left;margin-top: 15px;margin-right: 20px;">
                     <div style="float: left;color:#fff;">
                         <h2>公司地址</h2>
                         <p>长春市南关区亚泰大街3766号中金名筑315室</p>
                     </div>
                 </li>
             </div>
              <div class="col-md-4">
                 <li style="list-style-type: none;">
                     <img src="__HOME__/images/tele.jpg" style="float: left;margin-top: 15px;margin-right: 20px;">
                     <div style="float: left;color:#fff;">
                         <h2>官方电话</h2>
                         <p>0431-85310969</p>
                     </div>
                 </li>
              </div>
              <div class="col-md-4">
                 <li style="list-style-type: none;">
                     <img src="__HOME__/images/home.jpg" style="float: left;margin-top: 15px;margin-right: 20px;">
                     <div style="float: left;color:#fff;">
                         <h2>官方网址：</h2>
                         <p>www.qixixxxx.com</p>
                     </div>
                 </li>
              </div>
       </div> 
        <div class="clearfix"></div>	 
   </div>
</div>