<script src="{{url_for('static',filename='js/index.js')}}"></script>

<div>
    <br>
    <div class="container">
        <label for="">搜素内容</label>
    </div>
    <div class="container">


<!--        {% for row in data %}-->
        <table cellspacing="0" cellpadding="0" style="border-color:Black;border-width:0px;width:100%;border-collapse:collapse;">
            <tr>
                <td>全国人民代表大会常务委员会关于修改《中华人民共和国土地管理法》、《中华人民共和国城市房地产管理法》的决定</td>
                <td></td>
            </tr>
            <tr>
                <td><span style="color:#727272;font-size:13px;"><span title=发文字号>中华人民共和国主席令第32号</span>&nbsp;&nbsp;/<span title=时效性>&nbsp;&nbsp;尚未生效</span>&nbsp;&nbsp;/<span title=发布日期>&nbsp;&nbsp;2019.08.26发布</span>&nbsp;&nbsp;/<span title=实施日期>&nbsp;&nbsp;2020.01.01实施</span>&nbsp;&nbsp;</span></td>
                <td style="text-align:right;white-space:nowrap;">
                | <a title="点击查看更多"  href="javascript:void(0)" style="font-size:12px;color:#727272;">展开</a>
                </td>
            </tr>
        </table>
<!--        {% endfor %}-->

    </div>


</div



    

