<div class="container">

        <div class="row bg-info">
            <div class="col-md-6">
                <label for="" >
                <select style="height:40px;width:100px;margin:0px;">
                    <option>标题</option>
                    <option>标签</option>
                    <option>正文</option>
                </select>
                </label>
                 <label style="height:30px" for=""><input type="text" id="searchkey" style="height:40px;margin:0px;" class="form-control" placeholder="输入关键字"></label>
            </div>

            <div class="col-md-2">
                <button id="search">搜索</button>
            </div>
        </div>



</div>


