.text {
    color:#25C6FC;
            }
    #editlawdialog {
        position: fixed;
        left: 500px;
        top: 50px;
        }
    #rellawdialog {
        position: fixed;
        left: 400px;
        top: 50px;
    }

    #statedialog {
        position: fixed;
        left: 400px;
        top: 50px;
    }

    .dialog {
        position: fixed;
        left: 400px;
        top: 50px;
    }


    