

<div class="top-header">
    <div class="container">
        <div class="top-nav" >
            <span class="menu"> </span>
            <ul>
                <li><a  href="/index">首页</a></li>
                <li><a id="lawadmin"  href="#">法规管理</a></li>
                <li><a id="lawcontentadmin"  href="/listlawcontent">法条管理</a></li>
                <li><a id="flagadmin"  href="/listflag">配置管理</a></li>
             
                <li><a id="useradmin" href="#">用户管理</a></li>					
                <div class="clearfix"></div>	
            </ul>			 	 
        </div>		
    </div>	
</div>  
